<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--    <bean id="myBean" class="com.example.springbean.beans.MyXMLSpringBean">-->
    <!--        <property name="id" value="123"/>-->
    <!--        <property name="name" value="zhuzhe"/>-->
    <!--    </bean>-->

    <context:component-scan base-package="com.example.springbean.beans"/>
    <bean id="myAnnotationBean" class="com.example.springbean.beans.MyAnnotationSpringBean"/>

</beans>